body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Regular";
}

#wrapper {
    max-width: 797px;
    margin: auto;
}

@font-face {
    font-family: "Inter Regular";
    src: local("Inter-Regular"),
        url(../static/fonts/Inter-Regular.ttf) format("truetype");
}