.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  background-color: #165996;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .nav__list {
      display: flex;
      align-items: center;
      padding: 0;

      &-orders {
        gap: 38px;
        a {
          color: #ffffff;
        }
      }

      &-profile {
        gap: 28px;
        a {
          color: #000000;
          white-space: nowrap;
        }
      }

      .nav__item {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 12px;
          &:hover {
            text-decoration: underline;
          }
        }

        button {
          max-width: 78px;
          height: 27px;
          font-size: 12px;
          padding: 6px 21px;
          border: none;
          background: #d9d9d9;
          &:hover {
            background-color: #c3c2c2;
          }
        }
      }
    }
  }
}
