.home {
  max-width: 900px;
  margin: 75px auto;
  padding: 0 41px;

  .table {
    min-width: 700px;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #000000;
      padding: 12px 8px;
      font-size: 12px;
      text-align: center;
    }
    .table__index {
      width: 65px;
    }

    .table__name {
      width: 150px;
    }

    .table__comments {
      width: 160px;
    }

    .table__date {
      width: 150px;
    }

    .table__address {
      width: 120px;
      font-size: 10px;
    }
    .table__status {
      width: 80px;

      button {
        border: none;
        margin-top: 5px;
        background: #165996;
        padding: 3px 8px;
        color: #fff;
        &:hover {
          background: #114372;
        }
      }
    }
    &__comments {
      position: relative;

      .table__buttons {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 6px;
        right: -3.3rem;
        top: 0;
        bottom: 0;

        button {
          padding: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
    .completed {
      color: green;
      font-weight: 700;
      background-color: #16599642;
    }
    p {
      margin: 0;
    }
  }
}
