.add-order {
  width: fit-content;
  margin-top: 1rem;
  padding: 1rem;

  &__title {
    margin-bottom: 33px;
    p {
      font-size: 12px;
    }
  }

  &__fields {
    max-width: 162px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    input {
      height: 28px;
      font-size: 12px;
      border: none;
      padding: 0 5px;
      &::placeholder {
        color: #545454;
      }
    }
  }

  &__submit {
    margin-top: 30px;
    font-size: 12px;
    padding: 5px 9px;
    border: none;
    cursor: pointer;
    &:hover {
      background: gainsboro;
    }
  }
}
